<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <img src="../template/images/Logo_bigUA.png" style="width:150px;height:45px;">
    <div>
        <form method="post" action="../admin/index.php?action=add">
            <label>
                Введіть тип<br>
                <input type="text" name="title" value="" class="form-item" autofocus required>
            </label><br>
            <input type="submit" value="Добавити" class="btn">
        </form>
    </div>
    <footer>

    </footer>
</div>
</body>
</html>

