 .box1 {
     width:100%;
     height:240px;
     background: #808080; /* ���� ���� */
     padding: 10px; /* ���� */
     border: 1px; /* ��������� ����� */
     float:left;
     word-wrap: break-word;
 }

 .box2 {
     width:100%;
     height:730px;
     background:#996666; /* ���� ���� */
     padding: 10px; /* ���� */
     border: 1px; /* ��������� ����� */
     float:left;
     word-wrap: break-word;
 }

 .box3 {
     width:100%;
     height:90px;
     background: 	#C1CDC1; /* ���� ���� */
     padding: 10px; /* ���� */
     border: 1px; /* ��������� ����� */
     float:left;
     word-wrap: break-word;
 }
 
 .picture1
 {
  text-align: center;
 }