.photo{
    width: 50%;
}
.bloger{
    width: 60%;
}
.text_style{
    color: orangered;
}
.title{
    color: #cc3300;
}
.data_article{
    border-radius: 4px;
    border: 1px solid lightgreen;
    padding: 5px;

}
